

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div class=" row">
    <div class=" col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h4>Edit Product</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                { 


                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label>Decscripstion</label>
                        <input type="text" class="form-control" name="Decs" />
                    </div>
                    <div class="form-group">
                        <label>Qunentity</label>
                        <input type="number" class="form-control" name="Quntety" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>Select Categarie</label>
                        </div>
                        <div class="col-md-10">
                            <select class=" form-control" name="Categari">
                                <option>Select</option>
                                @foreach (var cat in ViewBag.cat)
                                {
                                    <option value="@cat.id">@cat.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offest-2 col-md-10">
                            <input type="submit" value="Edit" class="btn btn-default" />

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
